<h1>Créer un commentaire</h1>
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= label_tag 'Contenu' %>
  <%= text_area_tag 'content' %>
  <br /> <br />
  <%= submit_tag "Ajouter un commentaire" %>
  <% end %>
